
.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}